<!-- oficina/templates/oficina/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Oficina{% endblock %}</title>
</head>
<body>
    <nav>

        <a href="{% url 'empleado_list' %}">Empleados</a> |
        <a href="{% url 'tarea_list' %}">Tareas</a> |
        <a href="{% url 'reporte_list' %}">Reportes</a> |
        <a href="{% url 'about' %}">Acerca de</a> |
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>